.grid_container_1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}
.grid_container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.grid_container_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.grid_container_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.grid_container_5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}